node_modules
dist
dist-ssr
.DS_Store
test-results
playwright-report
blob-report
informe/*.aux
informe/*.log
informe/*.out
informe/*.toc
informe/*.fls
informe/*.fdb_latexmk
informe/*.synctex.gz
informe/*.lof
informe/*.lot
dist-*
